Use master
go
CREATE DATABASE [esg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'esg', FILENAME = N'E:\SQL\Base\esg.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'esg_log', FILENAME = N'E:\SQL\Log\esg_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [esg]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [esg] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
CREATE SCHEMA [Compras] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Ventas] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Stock] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Articulos] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Usuario] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Personas] AUTHORIZATION [dbo]
GO